.header {
    display: flex;
    height: 52px;
}
.nav{
    flex: 2;
}
.logo{
    margin: 15px;
    vertical-align: middle;
}
.nav-ul {
    display: inline;
}
.nav-li {
    display: inline;
    vertical-align: middle;
}
.nav-a{
    font-family: myfont,regular;
    text-decoration: none;
    color: black;
    margin-left: 44px;
    cursor: pointer;
    font-weight: 400;
}
.nav-a:hover {
    text-decoration:underline;
}
.button-box {
    float: right;
    margin: 20px;
    display: inline;
}
.button {
    color: white;
    font-family: myfont;
    background-color: black;
    vertical-align: top;
    width: 145px;
    height: 52px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    line-height: 26px;
    text-align: center;
}
.button:hover {
    background-color: rgb(15, 15, 15);
}
.button:nth-child(1){
    background: none;
    border: none;
    font-size: 18px;
    color: black;
    line-height: 26px;
    vertical-align: top;
}
.button:nth-child(1):hover {
    text-decoration: underline;
}